@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Mulish", sans-serif;
  ;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 100px;
  background-color: #118a7e;
  color: whitesmoke;
  font-size: 12px;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./srcAssets/josefin-WS5yjFjycNY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1000px;
  height: 500px;
  border-radius: 3px;
  color: whitesmoke;
}

.header {
  font-size: 70px;
  line-height: 70px;
  margin: 0;
}
main {
  margin: 0 auto;
}

.all-products-page {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 66vw;
  justify-content: center;
 }

 .item-link {
  text-decoration: none;
  color: #1f6f78;
 }
 .item-link:hover {
  text-decoration: none;
  color: #3baea0;
 }


.item-card-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
}
.item-card-container img {
  width: 250px;
  border-radius: 250px;
}

.item-card-container h5 {
  font-size: 1rem;
  margin: 10px 0;
}
.item-card-container p {
  font-size: 1rem;
  margin: 5px 0;
}

.product-page-container {
  display: flex;
  flex-direction: column;
  width: 66vw;
  align-items: start;
}